<div class="shorts">
  {% if site.shorts != blank %}
    {% assign shortss = site.shorts | reverse %}
    {% for item in shortss %}
      <div class="shorts-item">
        <small class="shorts-date d-block">
          {{ item.date | date: "%d/%m/%y" }}
        </small>

        <!-- inside: between date and content -->
        <hr class="inside-separator">

        <div class="shorts-content">
          {% if item.inline %}
            {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
          {% else %}
            {{ item.content }}
          {% endif %}
        </div>

        <!-- between: after content, but still inside the same padded box -->
        {% unless forloop.last %}
          <hr class="between-separator">
        {% endunless %}
      </div>
    {% endfor %}
  {% else %}
    <p>No shorts so far…</p>
  {% endif %}
</div>
